.containerBarCode{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.barCodeImg{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    mix-blend-mode: darken;
    overflow:hidden;
}




.productsData{
    width: 80%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-quantidade-produtos-prateleira{
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--cor03);
  border-radius: 5px;
  border: none;
  width: auto;
  height: 20px;
  padding: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  z-index: 30;
}
.btn-quantidade-produtos-prateleira:hover{
  background-color: red;
}


.listZeroProducts{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--branco);
  padding-top: 40px;

}


.inputBarCode{
    width: 80%;
    height: 30px;
    font-size: 1.5em;
    text-align: center;
    border: solid 3px black;
    border-radius: 5px;
}

.productImageBarCode{
    width: 120px;
    height:120px;
    border-radius: 10px;
    border:solid 3px var(--cor01);
    overflow:hidden;
  }

  .productDescriptions{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4em;
  }

  .color{
    width: 120px;
    height: 120px;
    background-color: var(--cor05);
    border-radius: 10px;
  }


  #formDecreaseAmount{
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }