@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,400;0,500;0,600;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Roboto', sans-serif;

    --cor01:#585F38;
    --cor02:#F5FDFF;
    --cor03:#E03B4B;
    --branco:#F8F8F8;
    --cor05:#02EA96;
    --cor06:rgb(242, 182, 52);
    --corSelected:#f43346;
    --cor07:rgb(224, 224, 224);
}


body{
    width: 100%;
    height: 100vh;
    background-color: var(--branco);

}

header{
    width: 100%;
    height: 60px;
    background-color: var(--cor01);
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    width: auto;
    height: 50px;
 
}
main{
    margin: auto;
    max-width: 850px;
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: var(--cor02);
    box-shadow: 0px 0px 10px rgba(1, 50, 119, 0.053);

}

.selected{
    background-color:var(--corSelected) ;
}

.red{
    background-color: var(--cor03);
}
.orange{
    background-color: var(--cor06);
}

.green{
    background-color: var(--cor05);
}


